.grid-container {
  margin: 0 120px;
  column-count: 6;
  column-gap: 16px;
}

@media only screen and (max-width: 1600px) {
  .grid-container {
    column-count: 4;
  }
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    column-count: 3;
  }
}
