@charset 'utf-8';
//Abstracts
@import "./sass/globals";

.gradient-bg {
  background: rgb(21, 115, 71);
  background: linear-gradient(
    0deg,
    rgba(21, 115, 71, 1) 0%,
    rgba(35, 0, 57, 1) 70%
  );
  background-attachment: fixed;
	min-height: 100vh;
}
